body{
    margin:0px;
}

.menu{
    width:80%;
    height:7%;
    background-color: floralwhite;
    margin:auto;
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}
.menu a{
    font-family: 'Courier New', Courier, monospace;
    color: forestgreen;
    text-decoration: none;
}
.menu a:hover{
    font-family: 'Courier New', Courier, monospace;
    color:black;
    text-decoration-line: underline;
}





.banner{
    width:80%;
    height:30%;
    background-color:darkkhaki;
    margin: auto;
}



.body{
    width:80%;
    height:90%;
    background-color:cornsilk;
    margin: auto;
}
#b_left{
    width:30%;
    height:100%;
    background-color:darkcyan;
    float:left;
}
#b_right{
    width:70%;
    height:100%;
    background-color:brown;
    float:left;
}



.footer{
    width:80%;
    height:7%;
    background-color:darkgray;
    margin: auto;
}
#f_left{
    width:70%;
    height:100%;
    background-color:darkgray;
    float:left;
}
#f_right{
    width:30%;
    height:100%;
    background-color:darkgray;
    float:left;
    text-align: right;
    padding-top: 10px
}